<div [@routerTransition]>
    <h2 class="text-muted">Medical Conditions </h2>

    <button [routerLink]="['/dashboard']"><img src="assets/images/back.png"/></button>

    <p style="text-align:center;">
      Age-related macular degeneration (AMD) is an eye disease that may get worse over time. It’s the leading cause of severe, permanent vision loss in people over age 60.

    It happens when the small central portion of your retina, called the macula, wears down. The retina is the light-sensing nerve tissue at the back of your eye.

    </p>


</div>
