<div [@routerTransition]>
    <h2 class="text-muted">Medical Conditions </h2>
    <div class="row">
        <div class="col-lg-12">
          <button [routerLink]="['/glauc']"><img src="assets/medicalicons/glaucoma.png"/>glaucoma</button>
          <button [routerLink]="['/admd']"><img src="assets/medicalicons/amd.png"/>AMD</button>



            <!--ngb-carousel>
                <ng-template *ngFor="let slider of sliders" ngbSlide>
                    <img
                        [src]="slider.imagePath"
                        alt="Random first slide"
                        class="img-fluid mx-auto d-block"
                        width="100%"
                        (click)= Myfunction()
                        [routerLink]="['/blank-page']"
                    />
                    <div class="carousel-caption">
                        <h3>{{ slider.label }}</h3>
                        <p>{{ slider.text }}</p>
                    </div>
                </ng-template>
            </ngb-carousel-->
        </div>
    </div>
    <hr />


    <div class="row">

        <!-- /.col-lg-8 -->

        <!-- /.col-lg-4 -->
    </div>
</div>
